body{
 background-color: green;   
}

li{
    list-style-type:none;
    margin: -8px;
    padding:20px;
  }

  a:hover{
    background-color:yellowgreen
  }

  a{
    text-decoration:none;
   color:lawngreen;
     padding:20px;
  }
.image{
display: flex;
margin-bottom:20px; 
}
.description{
margin-left:50px;;
}